<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">

<div layout:fragment="content">


<h1 class="titre"> QUELARD Marion</h1>

<div class="text">
    <p>
        Bonjour,<br>

        Actuellement étudiante en formation de Développeur Web et Web Mobile à l’ENI, je suis à la recherche d’un stage de deux mois, du 1er décembre 2024 au 31 janvier 2025.<br>

        Passionné par le développement web et mobile, j'ai acquis des compétences en HTML, CSS, JavaScript, Java, PHP (Symfony), Angular et Docker. Je souhaite mettre en pratique mes connaissances et contribuer à vos projets.<br>

        Je suis disponible pour un entretien à votre convenance et reste à votre disposition pour toute information complémentaire.<br>

        Merci pour votre attention.
    </p>
</div>

</div>