<!DOCTYPE html>
<html class="page-background"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="/vendor/uikit/js/uikit.min.js"></script>
  <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

  <!-- My theme -->
  <link rel="stylesheet" href="/css/style.css"/>

    <title>Title</title>

</head>

<body >

<nav class="uk-navbar navbar">
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">

      <li class="uk-active"><a th:href="@{/accueil}">Accueil</a></li>
      <li class="uk-active"><a th:href="@{/cv}">CV</a></li>
      <li class="uk-active"><a th:href="@{/lettre-motivation}">Lettre de motivation</a></li>

    </ul>

  </div>
</nav>
<br>
<!--Va être remplacé dans les pages qu'il lé'hérite-->
<div layout:fragment="content">
</div>

</body>
</html>
