<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">

<div layout:fragment="content">

    <div>
        <h2 class="titre">todo adresse et autre</h2>
    </div>
<div class="text-cv">
    De nature curieuse et enthousiaste
    j’aime découvrir de nouveaux
    domaines et apprendre de
    nouvelles techniques. Je suis une
    personne empathique et disponible
    sachant faire preuve de pédagogie
    qui s’intègre facilement dans une
    équipe. Ma capacité d’organisation
    et ma rigueur me permettent d’être
    autonome dans mon travail et de
    mener à terme un projet en
    respectant la demande des clients.

</div>
    <div class="text-cv">
        <h2 class="titre">Diplômes et Formations</h2>

        De juin 2024 à janvier 2025 <br>
        Formation Développeur Web et Web Mobile <br>
        ENI Ecole informatique, Nantes <br>
        Préparation au titre « Développeur Web et Web Mobile » homologué par l’Etat, niveau 5 (Bac +2) <br>

        De septembre 2010 à juin 2012 <br>
        DUT Génie biologique option analyses biologique et biochimique <br>
        IUT , Laval <br>

        De septembre 2007 à juin 2010 <br>
        Bac scientifique <br>
        Lycée Duplessis Mornay, Saumur <br>

    </div>

    <div class="text-cv">

        <h2 class="titre">Expériences professionnelles</h2>

        <div>De juin 2024 à novembre 2024 <br>
        Projets informatiques développés à l’ENI Ecole Informatique :<br>
        ENI, Nantes <br>
        -Développement d’un jeu de Memory avec HTML, CSS et javascript <br>
        -Développement d’un site d’enchères sous Java Spring Boot et SQL Server : <br>
        application web organisée en couches. <br>
        -Analyse, conception et développement d’un site d’organisation d’évènements avec PHP / Symfony et MySQL : définition de tests et d’outils de passage des tests.</div>

        <div>De mars 2017 à avril 2024 <br>
        Technicienne de laboratoire De mars 2017 à avril 2024 <br>
        Biofortis, Saint-Herblain <br>
        - Gestion de projet (organisation et communication avec les partenaires) <br>
        - Logistique (envoi et réception de matériel) <br>
        - Poste technique (automates) <br>
        - Création document qualité</div>

        <div>De mars 2016 à janvier 2017 <br>
        Technicienne de laboratoire d'analyses médicales <br>
        BMPR, Chéméré <br>
        - Enregistrement des dossiers (accueil secrétariat) <br>
        - Gestion des stocks (commande et réception) <br>
        - Poste technique : passage des échantillons et des contrôles</div>

        <div>De décembre 2013 à mai 2015 <br>
        Technicienne en analyse d'amiante <br>
        Eurofins Bâtiment Ouest , Nantes <br>
        - Préparation des échantillons du bâtiment pour lecture au microscope <br>
        - Gestion des équipements et du stock laboratoire <br>
        - Métrologie et Qualité (étalonnage des hottes) <br>
        - Formation et habilitation des nouveaux techniciens à la préparation des échantillons</div>


    </div>

    <div class="text-cv">
        <h2 class="titre">Compétences Informatiques</h2>

        Langages : Java, PHP, XML, SQL, HTML, CSS, JavaScript <br>
        Environnements : Eclipse, Visual Studio Code, Suite Jetbrains, Docker, Git <br>
        Plateformes / Framework : Java SE, Java Spring Boot, Symfony, Bootstrap, JQuery, Angular, Express.js <br>
        CMS : Wordpress <br>
        ORM :Doctrine <br>
        Méthodes : Modélisation des données et Méthode de Développement Agile (Scrum), UML (Unified Modeling Language)<br>
        Bases de données : SQL Server, MySQL, MongoDB <br>

    </div>

    <div class="text-cv">
        <h2 class="titre">Centres d'intérêt</h2>
        activités en famille <br>
        Ballade, vélo, jeux de société <br>
        sport <br>
        Gym et danse <br>
        Jeux vidéo <br>
    </div>

    <div class="text-cv">
        <h2 class="titre">Liens utiles</h2>
    </div>



</div>