<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">

<div layout:fragment="content">

    <div class="text-lettre">

       <div> Madame, Monsieur,</div><br>
        <div>Actuellement en formation à l'ENI pour obtenir le titre de développeur web et web mobile, je me permets de
        vous proposer ma candidature pour un stage de deux mois au sein de votre entreprise. Ce stage, qui s'inscrit
        dans le cadre de ma formation, me permettra de mettre en pratique les connaissances acquises et de
        développer de nouvelles compétences au contact de professionnels expérimentés.</div><br>
        <div>Passionné par les nouvelles technologies et le développement web, j'ai acquis des compétences solides en
        Java, PHP, XML, SQL, HTML, CSS et JavaScript. Je maîtrise des environnements comme Eclipse, Visual
        Studio Code, la suite Jetbrains, Docker et Git. J'ai de l'expérience avec Java SE, Spring Boot, Symfony,
        Bootstrap, JQuery, Angular, Express.js, ainsi que WordPress et Doctrine.</div><br>
        <div>En termes de méthodes, je suis familier avec la modélisation des données, le développement Agile (Scrum)
        et l'UML. Mes compétences en bases de données incluent SQL Server, MySQL et MongoDB. Mon parcours
        académique et mes projets personnels m'ont permis de développer une capacité d'adaptation rapide et une
        forte motivation à apprendre.</div><br>
        <div>Intégrer votre équipe serait pour moi une opportunité exceptionnelle de découvrir le fonctionnement d'une
        entreprise dynamique et innovante. Votre réputation en matière de projets ambitieux et votre utilisation des
        technologies de pointe sont des aspects qui m'attirent particulièrement. Je suis convaincu que ce stage me
        permettra d'acquérir une expérience précieuse et de contribuer activement à vos projets.</div><br>
        <div>Doté d'un bon esprit d'équipe et d'une grande rigueur, je suis prête à m'investir pleinement dans les missions
        qui me seront confiées. Mon objectif est de mettre à profit mes compétences techniques et ma créativité
        pour participer au développement de solutions performantes et innovantes.</div><br>
        <div>Je me tiens à votre disposition pour un entretien au cours duquel je pourrais vous exposer plus en détail
        mes motivations et mes compétences. En vous remerciant par avance pour l'attention que vous porterez à
        ma candidature, je vous prie d'agréer, Madame, Monsieur, l'expression de mes salutations distinguées.</div><br>

    </div>

</div>